<div class="row">
   <div class="col-2">
    <h1>Resources</h1>
    <% @resources.each do |resource| %>
      <%= link_to resource.capitalize, explorer_path(resource: resource) %>
    <% end %>
   </div>
   <div class="col-10">
    <h1>Api explorer</h1>

    <div class="row">
       <div class="col-2">
         <span class="text-muted"><%= "/#{params[:resource]}/" %></span>
       </div>
       <div class="col-10">
         <%= form_tag explorer_path, method: :get do %>
           <%= hidden_field_tag 'resource', params[:resource] %>
           <%= text_field_tag 'uri_pattern', params[:uri_pattern] %>
           <%= select_tag 'http_method', options_for_select(Sabisu.http_methods, params[:http_method]) %>
           <%= submit_tag "Send", class: 'button pill danger'%>
         <% end %>
       </div>
    </div>

    <div class="row" id="result">
      
    </div>
   </div>
</div>

<%= content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        $.JSONView(<%= @response.body.html_safe %>, $('#result'))
    });
  </script>
<% end %>
