<div class="row">
   <div class="col-2">
    <h1>Resources</h1>
    <% @resources.each do |resource| %>
      <%= link_to resource.capitalize, explorer_path(explorer: { resource: resource }) %>
    <% end %>
   </div>
   <div class="col-10">
    <h1>Api explorer</h1>

    <div class="row">
       <div class="col-2">
         <span class="text-muted"><%= "/#{@explorer.resource}/" %></span>
       </div>
       <div class="col-10">

         <%= form_for :explorer, url: explorer_path, method: :get do |f| %>
           <%= f.hidden_field :resource, value: @explorer.resource %>
           <%= f.text_field :uri_pattern, value: @explorer.uri_pattern %>
           <%= f.select :http_method, options_for_select(Sabisu.http_methods, @explorer.http_method) %>
           <%= f.submit "Send", class: 'button pill danger'%>
         <% end %>

         <table>
           <tr>
             <th>Name</th>
             <th>Type</th>
             <th>Default</th>
           </tr>
           <% @explorer.resource_columns.each do |column| %>
             <tr>
             <td><%= column.name %></td>    
             <td><%= column.type %></td>    
             <td><%= column.default || "NULL" %></td>    
           </tr>
         <% end %>
         </table>
       </div>
    </div>

    <div class="row" id="result">
      
    </div>
   </div>
</div>

<%= content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        $.JSONView(<%= @response.body.html_safe %>, $('#result'))
    });
  </script>
<% end %>
